*.pyc
*.pyo
.DS_Store
*~
.ropeproject
*.*.swp
.swp
*.swo
build
dist
*.egg-info
pip-log.txt
venv
*.db
*.orig
MANIFEST
*.tar
*.tar.bz2
*/var/
*/run/
third-party/*
!third-party/bootstrap.sh
nginx.conf
htpasswd
cfg_local.py
*access_log
